@import "~normalize.css";
@import "roboto.css";

body{
    background: #246;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
}

h1 {
    text-align: center;
    color: #66ff26;
}

.logo {
    background: url("../assets/webpack.svg");
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 20px auto;
}